@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@theme{
  --color-yellow: #E8FF00;
  --color-black: #0A0A0A;
  --color-white: #F0EDE8;

  --color-gray-dark: #1A1A1A;
  --color-gray-mid: #2A2A2A;

  --color-muted: #888888;

  --color-border-glow: rgba(232, 255, 0, 0.15);
}

body,
html{
  margin: 0px;
}

@layer utilities{
  .flex-center{
    @apply flex justify-center items-center;
  }
}

@layer components{
  .padding-x{
    @apply px-5 md:px-10;
  }

  #hero{
    @apply relative h-screen w-full overflow-hidden;


  }

  #myWork{
    @apply py-5;
  }
}