@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@theme{
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --color-test: red;
  --font-body: Inter, sans-serif;
}

body,
html{
  margin: 0px;
}

@layer utilities{
  .flex-center{
    @apply flex justify-center items-center;
  }
}

@layer components{
  .padding-x{
    @apply px-5 md:px-10;
  }

  #hero{
    @apply relative h-screen w-full overflow-hidden flex;

    h1{
      @apply text-5xl font-bricolage;
    }

  }
}