@use '../abstracts/spacing' as *;
@use '../abstracts/colors' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $black;
}

section{
  width: 100%;
  min-height: 100dvh;
  padding-left:  $page-margin-wide;
  padding-right: $page-margin-wide;
  padding-block: $spacing-xl;
}

footer {
  padding-left:  $page-margin-wide;
  padding-right: $page-margin-wide;
}