@use '../abstracts/spacing' as *;
@use '../abstracts/colors' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  // background-color: $black;
}

section{
  width: 100%;
  padding-left:  $page-margin-mobile;
  padding-right: $page-margin-mobile;
  padding-block: $spacing-xl; /* This padding is now safely contained inside the 100dvh */
  box-sizing: border-box;

  @media (min-width: 1024px) {
    height: 100dvh;
    padding-left:  $page-margin-wide;
    padding-right: $page-margin-wide;
  }
}

footer {
  padding-left:  $page-margin-wide;
  padding-right: $page-margin-wide;
}